 

 .heading{
    background-image: url('https://static.vecteezy.com/system/resources/previews/005/145/984/original/office-and-school-stationery-seamless-background-pattern-free-free-vector.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    opacity: 0.7;
    z-index:1;
    margin-top: 0px;
    }
h1{
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding-top: 60px; 
padding-bottom:0px;
margin-bottom: 0;
margin-top: 0px;
 font-size: 100px; 
z-index: 1;
 
}    
h2{
    text-align: center;
    background-color: #faf6f6;
     font-size: 30px; 
   
}

.container{
    background-color: rgb(48, 48, 50);
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    height: 30px;
    width: 100%;
    padding: 10px;
    border-radius: 2px;

}
.div1{
    background-color:white;
    padding: 4px;
    border-radius: 4px;
     width:auto; 
    margin:8px;
    text-align: center;
   
    margin: 4px 0;
}
a{
    text-decoration:none;
    color: black;
    text-align: center;
}
.search{
         background-image: url('https://static.vecteezy.com/system/resources/previews/005/145/984/original/office-and-school-stationery-seamless-background-pattern-free-free-vector.jpg'); 
        background-size: cover;
        height: 40px;
        width: 100%;
        padding-top: 10px;
        opacity: 0.8;
        text-align:center;
        font-size: 20px;
        color: black;
        background-color: #8b8888;
        
}
input[type="search"] {
   width: 600px;  
  height: 20px; 
  padding: 10px; 
  font-size: 16px; 
  

}
.login{
    border: solid rgb(24, 44, 132)  4px ;
    background-color: white;
  padding: 30px;
  display: flex;
  place-items: center;
  height: 100vh; 
  align-items: center;
  text-align: center;
    margin:60px ;
    width: 300px;
    height: 300px;
    border-radius:8px;
  
}
.adjust{
     display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
}

footer{
     background-color: rgb(48, 48, 50);
    color: aliceblue;
     height:35px;
        width: 100%;
        padding: 2px;
        opacity: 0.8;
        text-align:center;
        font-size: 16px;
}


button{
    margin-top: 10px;
    color: rgb(252, 249, 249);
    background-color: blue;
    border: none;
    border-radius:3px;
     padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px; 
    

}
button:hover{
    background-color: rgb(25, 18, 91);
}
p{
    margin-top: 3px;
     font-size: 20px; 
    padding-bottom:10px ;
   
}
input[type="email"]{
    padding: 6px;
    width: 200px;
    border-radius: 4px;
    border-color: rgb(20, 20, 106);
} 

  


 

/* Responsive Styles */
@media (max-width: 768px) {
  h1 {
    font-size: 60px;
    padding-top: 30px;
  }

  h2 {
    font-size: 24px;
  }

  .container,
  .adjust {
    flex-direction: column;
    align-items: center;
  }

  .div1 {
    width: 90%;
    margin: 6px 0;
  }

  .login {
    width: 90%;
    margin: 20px auto;
    height: auto;
    padding: 20px;
  }

  .image-box img {
    width: 90%;
    height: auto;
    margin: 10px 0;
  }

  input[type="search"],
  input[type="email"] {
    width: 90%;
    font-size: 16px;
  }

  .search {
    font-size: 18px;
    padding: 10px;
  }

  button {
    width: 100%;
    font-size: 16px;
    padding: 10px;
  }

  footer {
    font-size: 14px;
    height: auto;
    padding: 6px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  .search {
    font-size: 16px;
  }

  .image-box img {
    width: 100%;
  }
}




